In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import avinf
from statsmodels.formula.api import ols

In [2]:
df = pd.read_csv("../mtcars.csv")
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
model = ols("mpg ~ wt + hp", data=df)
model = model.fit()

av_fit = avinf.av_lm.AVLM(model, g=1)

av_fit.summary()

                coef   std err          t       p value
Intercept  37.227270  1.598788  23.284689  1.852605e-16
wt         -3.877831  0.632733  -6.128695  3.960321e-05
hp         -0.031773  0.009030  -3.518712  3.364344e-02

In [4]:
# Fit a simple linear model using the mtcars dataset
model = ols("mpg ~ wt + hp", data = df)
model = model.fit()

# Convert the standard lm object to an anytime-valid avlm object with precision parameter g = 1
av_fit = avinf.av_lm.AVLM(model, g = 1)

# Calculate and print confidence intervals for the coefficients
av_fit.confint(level=0.95)

                2.5%      97.5%
Intercept  31.863388  42.591153
wt         -6.000632  -1.755030
hp         -0.062067  -0.001479

In [5]:
n = 10000
alpha = 0.05
g_star = avinf.av.optimal_g(n, 5, alpha)
print("The optimal g is:", g_star)

The optimal g is: 16677064.925158039